############# begin Atlas config section ##########
--noNimblePath
--path:"deps/results"
--path:"deps/stew"
--path:"deps/unittest2"
--path:"deps/vmath/src"
--path:"deps/zlib"
--path:"../nest/deps/chroma/src"
--path:"../nest/deps/kiwiberry/src"
--path:"../nest/deps/micros/src"
--path:"../nest/deps/sdl3/src"
--path:"../nest/src"
--path:"../owl/src"
--path:"../plugnim/src"
############# end Atlas config section   ##########
